.App {
  text-align: center;
}

.App-form {
  padding: 20px;
  background-color: #e9e9eb;
  bottom: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-bottom: 20px;
}

.App-formControl {
  display: flex !important;
  flex-direction: row !important;
}

.App-iconButton {
  flex: 0.02;
}

.App-input {
  flex: 0.98;
}